* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Young Serif", serif;
}

.section-one {
    text-align: center;
    background-color: rgb(180, 203, 195);
    color: black;
    padding-bottom  : 10px;
}

.section-two__post1,
.section-two__post2,
.section-two__post3,
.section-two__post4 {
    border: solid 2px;
    margin: 3px;
    text-align: center;
}
.section-two__post1,
.section-two__post2,
.section-two__post3,
.section-two__post4 p{
    font-size: small;
    padding: 3px;
}

.section-two {
    display: flex;
    align-items: center;
    justify-content: center;
}


button {
    padding: 5px;
    margin: 5px;
    background-color: brown;
    color: white;
    border: none;
}

.container {
    padding: 15px;
}

.contact-form__title {
    background-color: rgb(180, 203, 195);
    color: black;
    text-align: center;
    padding: 10px;
}

.contact-form__submit,
.contact-form__input {
    padding-bottom: 5px;
}

.contact-form__table,
.section-three {
    text-align: center;
    background-color: rgb(180, 203, 195);
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 2px;
}

.contact-form__submit {
    width: 600px;
    font-size: 15px;
    background-color: brown;
    border: none;
    cursor: pointer;
    justify-content: center;
    display: flex;
    margin-bottom: 25px;
}